<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/toolsmgdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="mapping/Modulo.hbm.xml" />
        <mapping resource="mapping/CierreCaso.hbm.xml" />
        <mapping resource="mapping/EstadoCaso.hbm.xml" />
        <mapping resource="mapping/Soporte.hbm.xml" />
        <mapping resource="mapping/Usuario.hbm.xml" />
        <mapping resource="mapping/Caso.hbm.xml" />
        <mapping resource="mapping/BaseDeConocimiento.hbm.xml" />
        <mapping resource="mapping/Comentario.hbm.xml" />
        <mapping resource="mapping/Pantalla.hbm.xml" />
        <mapping resource="mapping/Aplicacion.hbm.xml" />
    </session-factory>
</hibernate-configuration>
