<!DOCTYPE html>
<html ng-app="AppModule">

<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
<link type="text/css" href="stylesheets/bootstrap.min.css"
	rel="stylesheet" />
<link type="text/css" href="stylesheets/angular-material.css"
	rel="stylesheet" />
<link type="text/css" href="stylesheets/docs.css" rel="stylesheet" />
<link type="text/css" href="stylesheets/center/center.css"
	rel="stylesheet" />
<link type="text/css" href="stylesheets/menubar/menubar.css"
	rel="stylesheet" />
<link type="text/css" href="stylesheets/bootstrap.min.css"
	rel="stylesheet" />
</head>

<body>

	<div class="alert alert-info"
		style="max-width: 200px; margin: 10 auto 29px; border-radius: 8px;"
		ng-if="window.location.hash == '#/login'">
		<div ng-view></div>
	</div>
	<div ng-if="window.location.hash != '#/login'">
		<div ng-view></div>
	</div>



	<script type="text/javascript" src="librerias/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="librerias/angular.js"></script>
	<script type="text/javascript" src="librerias/angular-animate.min.js"></script>
	<script type="text/javascript" src="librerias/angular-route.min.js"></script>
	<script type="text/javascript" src="librerias/angular-aria.min.js"></script>
	<script type="text/javascript" src="librerias/angular-messages.min.js"></script>
	<script type="text/javascript" src="librerias/angular-cookies.js"></script>
	<script type="text/javascript" src="librerias/svg-assets-cache.js"></script>
	<script type="text/javascript" src="librerias/angular-material.js"></script>
	<script type="text/javascript" src="librerias/si-table/si-table.js"></script>

	<!--Se cargan las clases a utilizar-->
	<script type="text/javascript" src="models/Caso.js"></script>
	<script type="text/javascript" src="models/Pantalla.js"></script>
	<!--Se cargan la app-->
	<script src="app.js"></script>
	<!--Se cargan los controllers de el proyecto aplicacion-->
	<script type="text/javascript"
		src="aplicacion/modulos/login/AuthenticationServices.js"></script>
	<script type="text/javascript"
		src="aplicacion/modulos/login/AuthenticationController.js"></script>
	<script type="text/javascript"
		src="aplicacion/modulos/home/HomeController.js"></script>
	<script type="text/javascript"
		src="aplicacion/modulos/abm-incidentes/IncidenteController.js"></script>
	<script type="text/javascript"
		src="aplicacion/modulos/abm-pantallas/AbmPantallaController.js"></script>
	<script type="text/javascript"
		src="aplicacion/modulos/abm-casos/AbmCasosController.js"></script>
</body>

</html>
