<html>
<body>
	<div ng-controller="AbmPantallaController">

		<md-content layout-gt-sm="row" layout-padding> <md-input-container>
		<label>Nombre Vista</label> <input type="text" ng-model="nombre" placeholder="ABM Ejemplo">
		</md-input-container> <md-input-container> <label>Nombre
			Archivo</label> <input type="text" ng-model="nombreArchivo" placeholder="viewAbmEjemplo"> </md-input-container> <md-input-container>
		<label>Nombre Carpeta</label> <input type="text"
			ng-model="nombreCarpeta" placeholder="abm-ejemplo"> </md-input-container> </md-content>

		<md-content layout-gt-sm="row" layout-padding> <md-input-container>
		<md-button class="md-primary" ng-click="guardar()">Guardar</md-button>
		</md-input-container> </md-content>

		<md-input-container> <label>Filtro</label> <input
			type="text" ng-model="filter.$"> </md-input-containter>
		<table class="table" si-table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Url</th>
					<th>Posicion</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr si-sortable ng-repeat="item in vistas | filter:filter">
					<td>{{item.id}}</td>
					<td>{{item.nombre}}</td>
					<td>{{item.url}}</td>
					<td>{{item.posicion}}</td>
					<td><md-button ng-click="" class="md-raised md-primary">Editar</md-button></td>
					<td><md-button ng-click="eliminar(item.id)"
							class="md-raised md-warn">Eliminar</md-button></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5"><si-table-pagination limit="10"
							class="ng-isolate-scope"> </si-table-pagination></td>
				</tr>
			</tfoot>
		</table>

		<div class="alert alert-info" ng-if="vistas.length == 0">Sin
			pantallas ...</div>
	</div>
	</div>
</body>
</html>
